
.top_menu_list {
  padding:0;
  margin:0;
}

/*======== Menu Icon =========*/
 
  /* hide the input checkbox */
 
  .menu_btn { 
    display: none; 
  } 
  .menu_icon { 
    height: 50px; 
    width: 50px; 
    background-color: rgba(0,0,0,0.2);
    position: relative; 
    margin: 20px 30px;                                         /* adjust placement as needed */ 
    cursor: pointer; 
    z-index: 9; 
    }
 
  .menu_icon:hover { 
    background-color: {{section.settings.sideBar_bg}}; 
  }
 
  .menu { 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
   }
 
  /* need to mention content */
 
  .menu, .menu::before, .menu::after { 
    content:''; 
    height: 5px; 
    width: 30px; 
    position: absolute; 
    transform-origin: center; 
    background-color: {{section.settings.link_color}}; 
   }
 
  .menu::before { 
              top: -10px;   
   }
 
 .menu::after { 
              bottom: -10px; 
   }
 
  /* have to name the children .menu_icon to display since span is a grandchild */
 
  .menu_btn:checked ~ .menu_icon .menu { 
    background: transparent; 
  }
 
 
  .menu_btn:checked ~ .menu_icon .menu::before { 
    transform: rotate(45deg); 
    top: 0; 
    position: absolute; 
  }
 
  .menu_btn:checked ~ .menu_icon .menu::after { 
    transform: rotate(-45deg); 
    top: 0; 
    position: absolute; 
    z-index: 1; 
  }
 
 
  /* menu btn function */
 
   .menu_btn:checked ~ .sideBar_overlay { 
     visibility: visible; 
 }
 
   .menu_btn:checked ~ .sideBar_overlay .sideBar {
     width: var(--sidebar-width);
  }
 
   /*======== SideBar =========*/
 
  .inside_menu_icon { 
    margin-top: 7px; 
    margin-left: 7px !important; 
    position: relative; 
  }

  .sideBar_title { 
    font-size:inherit;
    font-weight:inherit !important;
    padding-bottom:7rem;
    margin-top:0px;
  }

.sideBar_title p {
  padding:0;
  margin:0;
  font-family: var(--font-body-family);  
  text-transform: capitalize;
}

.sideBar_title p strong {
  font-weight:bold;
  text-transform:uppercase;
  font-family: var(--font-heading-family);
}
 
  .sideBar_title:hover { 
    color: {{section.settings.title_hover}}; 
  }
 
  .top_menu, .bottom_menu { 
    margin-bottom: 20px; 
  }
 
 /*======== Link List =========*/
 
  .link_title { 
  font-family: var(--font-heading-family);
    text-transform:uppercase;
    font-weight:normal;
  }

 .link_title,
  .child_title,
  .grandchild_title {
  color: rgb(var(--color-foreground));
    position: relative; 
    display: flex; 
    font-style: var(--font-heading-style);
    font-weight: normal;
    letter-spacing: calc(var(--font-heading-scale) * 0.06rem);
    color: rgb(var(--color-foreground));
    line-height: 1.5rem;
    word-break: break-word;
    text-decoration:none;
  }
 
  .link_title:visited,
  .link_title:active,
  .link_title:hover  { 
    color: rgb(var(--color-foreground));
  }

 
  .child_title,
  .grandchild_title {
    
  }
 
  .link_details {
     list-style: none;
 
  }
 
 
 /*======== Drop down =========*/
 
  /* if link has submenu then dropdown shows*/
 
 .dropDown_btn { 
    display: none; 
    width: 0; 
    height: 0; 
    top: 0; 
  }
 
 
  .dropDown_icon {
 
    height: 25px;
    width: 30%; 
    position: relative; 
    float: right; 
    margin: -25px;  
    display:none
   }
 
 
 
.gCdropDown_icon { 
    left: -5px; 
  }

  .dropDown, .dropDown::after { 
    content: ''; 
    height: 3px; 
    width: 15px; 
    background-color:  rgb(var(--color-foreground));
    position: absolute;   
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
 
  .dropDown::after { 
    transform: rotate(90deg); 
    visibility: visible;
    top: 0;
    left: 0; 
 }
 
  .dropDown_btn:checked ~ .dropDown_icon .dropDown::after { 
    visibility: hidden; 
  }
 
.sideBar_inner input[type=checkbox] {
    display: none;
    width: auto;
    margin-right: .5rem;
}
.dropDown_btn:checked ~ .dropDown_container { 
  display: block; 
  transition: all .3s ease; 
}
.dropDown_container { 
  display: none;
  list-style: none; 
  line-height:0.8rem;
}
.dropDown_container .dropDown_container { 
  display: none;
  list-style-type: disc;
} 


.dropDown_container:hover { 
  background-color: {{section.settings.link_hover}} !important; 
}

ul.dropDown_container {
  padding-inline-start: 0px; 

}
ul.dropDown_container ul {
  padding-inline-start: 40px; 
}

.link_title.active,
.link_title.child-active{
  font-weight:bold;
}

.link_title.active + .child-list-wrapper,
.link_title.child-active + .child-list-wrapper{
  padding: 2rem 0px;
}


.link_title.child-active + .child-list-wrapper ul.dropDown_container:nth-child(2) {
  padding: 20rem 0px 0px 0px;
}
.link_details:not(:nth-child(1)) .link_title.active + .child-list-wrapper,
.link_details:not(:nth-child(1)) .link_title.child-active + .child-list-wrapper{
    padding: 2rem 0px 2rem 2rem;
}
  /*======== Socials =========*/
 
  /* CSS might defer in other Shopify theme - adjust CSS when appropriate */
 
 .social_icons { 
    height: 50px; 
    width: 100%; 
    bottom: 0; 
    position: absolute; 
  }

  .social-icons__item { 
    font-size: 20px;
  }
 
  .icon_-text {
     margin-left: 10px; 
  }

  .social-icons__item:hover {
    background-color: {{section.settings.link_hover}} !important;
  }
 
 
 