:root {
  --sidebar-width: 25rem; 
  --page-gutter: 2rem;
  overscroll-behavior: none;
}

.header__heading-logo {
  width:96px;
}

.content-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.content-group #shopify-section-sidebar {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  min-width:var(--sidebar-width);
  padding-left:var(--page-gutter);
}

.content-group #MainContent {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding-right:var(--page-gutter);  
  margin-left:var(--page-gutter);
  overscroll-behavior: none;
}

.page-id-index .content-group #MainContent {
  padding-right:var(--page-gutter);  
  margin-right:15rem;  
  margin-left:var(--page-gutter);
  padding-left:8rem;
  margin-top:6rem;
}

.menu-drawer-container {
  
}

.sideBar_container {
  width:var(--sidebar-width);
  position:fixed;
  margin-top: 6rem;
}


.sideBar_container label.menu_icon,
.sideBar_container .menu_btn,
.menu-drawer__navigation label.menu_icon,
.menu-drawer__navigation .menu_btn {
  display:none;
}



@media screen and (max-width: 749px) {
.content-group #shopify-section-sidebar {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large-up-hide {
    display: none !important;
  }
}


.multicolumn {
  padding: inherit 0;
}

.header__icon--cart {
  margin:0;
}


.header__icon {
  text-decoration:none;
}

.header__icon, .header__icon--cart .icon {
  width:10rem;
justify-content: flex-end
}

.header__icon--menu {
  width:5rem;
}

.header__icon:not(.header__icon--summary), .header__icon span {
    justify-content: flex-end;
}


sticky-header {
background: transparent;
}
.header-wrapper {
  position:fixed;
  z-index:999;
}

.header__icons {
  right: 30px;
    position: fixed;
}

@media screen and (min-width: 750px) {
    .product__column-sticky {
        display: block;
        position: sticky;
        top: 0px !important;
        z-index: 2;
    }
}

@media screen and (min-width: 750px) {
    .product--large:not(.product--no-media) .product__info-wrapper .product__info-container {
        padding-top:6rem;
    }
  .product__media {
    height:50vh;
  }
}


.main-page-title {
    margin-bottom: 0rem !important;
  text-transform:uppercase;
  font-weight:bold;
}

@media screen and (min-width: 750px) {
    .main-page-title {
        margin-bottom: 0rem !important;
    }
}

.product__title {
  text-transform:uppercase
}

h0,h1,h2,h3,h4,h5,h6,h7,
.h0,.h1,.h2,.h3,.h4,.h5,.h6,.h7{
  font-size:inherit !important;
  text-transform:uppercase !important;
  font-family: var(--font-heading-family) !important;
  font-style: var(--font-heading-style) !important;
  font-weight: bold !important;
}

@media only screen and (min-width: 750px) {
  h0,h1,h2,h3,h4,h5,h6,h7,
  .h0,.h1,.h2,.h3,.h4,.h5,.h6,.h7{
  font-size:inherit !important;
}
}
#Banner-template--18255422783645__image_banner {
  max-width:inherit;
}

@media screen and (min-width: 750px) {
  .grid {
  }
}

.multicolumn-card__info .svg-wrapper {
  display:none;
}

.product-form__input input[type=radio]:checked+label,
.product-form__input--pill input[type=radio]+label {
  background:inherit !important;
  color:inherit !important;
  border:0px !important;
  display:block !important;
  text-align:left !important;
  text-transform:uppercase !important;
  font-family: var(--font-heading-family) !important;
  font-style: var(--font-heading-style) !important;
  font-weight: bold !important;
  margin: 0.5rem 0rem !important;
  padding: 0 !important;
  font-size: 1rem !important;  
}

.product-form__input input[type=radio]:checked+label {
  text-decoration:underline !important;
}
.main-page-title.h0 {
  padding-bottom:2rem;
}

.media>img {
  transition: opacity 0s;
}
@media screen and (min-width: 990px) {
    .card .media.media--hover-effect>img:only-child, .card-wrapper .media.media--hover-effect>img:only-child {
        transition: transform var(--duration-long) ease;
    }
}



@media screen and (min-width: 750px) {

  .header--top-left.drawer-menu,
  .header--middle-left.drawer-menu {
    grid-template-areas: 'navigation heading icons';
    grid-template-columns: auto 1fr auto;
    column-gap: 1rem;
  }
  .header {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
      .header__heading, .header__heading-link {
        text-align: center !important;
    }

    .header--middle-left .header__heading-link, .header--top-left .header__heading-link {
        margin-left: 0;
      padding-left:0;
    }

}

.header-wrapper {

  background-color: transparent;
}


@media screen and (max-width: 749px) {

  .content-group {
    margin-top:6rem;
  }

}

.quantity:after {
  box-shadow: 0 0 0 var(--inputs-border-width) rgb(255 255 255 / 0%) !important;
}


.footer__content-bottom-wrapper {
  display:none !important;
}

@media screen and (max-width: 749px) { 
  .card--media .card__inner .card__content {
    display:none !important;
  }
  .card .card__inner .card__media {
    z-index:2 !important;
  }
}

.search-modal.modal__content.gradient {
    height: 100vh;
    width: 50rem;
    right: 0;
    left: unset;
    align-items: flex-start;
    margin-top: -1rem;
    margin-right: -3rem;
}

.search-modal__content.search-modal__content-bottom {
    align-items: flex-start;
    margin-top: 0;
    padding-right:0;
}


.predictive-search__results-groups-wrapper {
  flex-direction: column;
}

.search-modal.modal__content .field_label {
    font-size: 1rem !important;
}

@media screen and (min-width: 750px) {
    .header.page-width, .utility-bar__grid.page-width {
        padding-left: 20px !important;
    }
}

.predictive-search {
  border-color:transparent !important;
  box-shadow: inherit;
  
}