:root {
  --sidebar-width: 304px; 
  --page-gutter: 36px;
  overscroll-behavior: none;
}
.content-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.content-group #shopify-section-sidebar {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  min-width:var(--sidebar-width);
  padding-left:var(--page-gutter);
}

.content-group #MainContent {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding-right:var(--page-gutter);  
  margin-left:var(--page-gutter);
  overscroll-behavior: none;
}

.menu-drawer-container {
  
}

.sideBar_container {
  width:var(--sidebar-width);
  position:fixed;
  margin-top: 8rem;
}

.sideBar_container label.menu_icon,
.sideBar_container .menu_btn {
  display:none;
}



@media screen and (max-width: 749px) {
.content-group #shopify-section-sidebar {
    display: none !important;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .medium-hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large-up-hide {
    display: none !important;
  }
}


.multicolumn {
  padding: inherit 0;
}

.header__icon--cart {
  margin:0;
}


.header__icon {
  text-decoration:none;
}

.header__icon, .header__icon--cart .icon {
  width:10rem;
justify-content: flex-end
}

.header__icon--menu {
  width:5rem;
}

.header__icon:not(.header__icon--summary), .header__icon span {
    justify-content: flex-end;
}


sticky-header {
background: transparent;
}
.header-wrapper {
  position:fixed;
}

.header__icons {
  right: 30px;
    position: fixed;
}

@media screen and (min-width: 750px) {
    .product__column-sticky {
        display: block;
        position: sticky;
        top: 0px !important;
        z-index: 2;
    }
}

@media screen and (min-width: 750px) {
    .product--large:not(.product--no-media) .product__info-wrapper {
        margin-top:8rem;
    }
  .product__media {
    height:100vh;
  }
}

@media screen and (min-width: 990px) {
    .product--large:not(.product--no-media) .product__media-wrapper {
        max-width: 45% !important;
        width: calc(65% - var(--grid-desktop-horizontal-spacing) / 2);
    }
}

    .main-page-title {
        margin-bottom: 0rem !important;
      text-transform:uppercase;
      font-weight:bold;
    }

@media screen and (min-width: 750px) {
    .main-page-title {
        margin-bottom: 0rem !important;
    }
}

.product__title {
  text-transform:uppercase
}


#Banner-template--18255422783645__image_banner {
  max-width:inherit;
}

@media screen and (min-width: 750px) {
  .grid {
    column-gap: 0rem;
  }
}

.multicolumn-card__info .svg-wrapper {
  display:none;
}

.product-form__input input[type=radio]:checked+label,
.product-form__input--pill input[type=radio]+label {
  background:inherit;
  color:inherit;
  border:0px;
  display:block;
}